:root {
    --vertical-spacing: 12px;
}

a {
    display: block;
    width: fit-content;
    margin-bottom: var(--vertical-spacing);
    /* Learn: Do not center or right align because that makes reading the links harder. (16 Jan 2026) */
    /* text-align: center; */
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: var(--vertical-spacing);
}

.row a {
    margin-bottom: 0px;
}

.text-muted {
    color: gray;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold
}

body {
    max-width: 60vw;
    margin-top: 50px;
    margin-left: 250px;
}

/* Below applies to mobile */
@media (max-width: 600px) {
    body {
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        text-align: left;
    }

    .text-muted {
        font-size: 0.6rem;
    }
}

hr {
    margin: 20px 0px;
}

.hidden {
    display: none;
}